[user]
	email = trey.botard@gmail.com
	name = Trey Botard
[init]
	defaultBranch = main
#[credential "https://github.com"]
#	helper =
#	helper = !/opt/homebrew/bin/gh auth git-credential
#[credential "https://gist.github.com"]
#	helper =
#	helper = !/opt/homebrew/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[core]
	editor = nvim
