{:profiles
  {:Default {:default true
             :alone   80
             :held    50
             :delay   0
             :sim     100}}

  :templates {:open "open \"%s\""}

  :applications {:chrome "^com\\.google\\.Chrome$"
                 :1password "^com\\.agilebits\\.onepassword8$"
                 :vscode "vv^com\\.microsoft\\.VSCode$"
                 :discord "^com\\.discordapp\\.Discord$"
                 :slack "^com\\.tinyspeck\\.slackmacgap$"
                 :notion "^notion\\.desktop$"
                 :linear "^com\\.linear\\.app$"
                 :iterm "^com\\.googlecode\\.iterm2$"
                 :postman "^com\\.postmanlabs\\.mac$"
                 :spotify "^com\\.spotify\\.client$"
                 :whatsapp "^com\\.whatsapp\\.WhatsApp$"}

  :simlayers {;; homerow mods - map to command, option, control, shift on both sides
              :a-mode {:key :a} ;; command when held simlayer
              :s-mode {:key :s} ;; opt when held
              :d-mode {:key :d} ;; ctrl when held
              :f-mode {:key :f} ;; shift when held
              :j-mode {:key :j} ;; command when held
              :k-mode {:key :k} ;; opt when held
              :l-mode {:key :l} ;; ctrl when held
              :semicolon-mode {:key :semicolon} ;; shift when held

             ;; moVement simlayer 
              :v-mode {:key :v}
         	 ;; window shortcuts - yabai/skhd simlayer
              :w-mode {:key :w}
         	 ;; application simlayer
              :q-mode {:key :q}
       		 ;; symbol simlayer
              :e-mode {:key :e}
         	 ;; tbd simlayer
              :r-mode {:key :r}}}

 :main [{:des "caps to esc when alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "swap : and ;"
         :rules [[:#Psemicolon :!Ssemicolon]
                 [:!Ssemicolon :semicolon]]}
        {:des "left cmd -> cmd+tab"
         :rules [[:left_command :left_command nil {:alone :!Ctab}]]}
        {:des "a-mode - command left hand homerow mod"
         :rules [:a-mode
                 [:##a :left_command nil {:alone :a}]]}
        {:des "moVement simlayer"
         :rules [:v-mode
           		;; may want to separate out movement and deletion to layer in control moves too,
             	;; same for highlighting words, lines, left and right
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 [:n :delete_or_backspace]
                 [:m :delete_forward]
                 [:b :!Cdelete_or_backspace]
                 [:comma :!Cdelete_forward]
                 [:spacebar :return_or_enter]
                 [:y :!Cleft_arrow]
                 [:u :!Oleft_arrow]
                 [:i :!Oright_arrow]
                 [:o :!Cright_arrow]]}]}
